body{
    background: #f43;
    font-family:'Gill Sans';
    box-sizing: content-box;
}
h1{
    font-size: 2rem;
    color:#000;
    text-align: center;
}
img{
    width:5%;
}
.computer{
    color:#f43;
    font-size: 1em;
}
.user{
    color:#f43;
    font-size:1em;
}
.score{
    color:#f43;
    font-size:1em;
}
.game{
    width: 55%;
    min-width: 500px;
    background-color: #ffffff;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.board{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.board button{
    background-color: #f43;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}
.rock{
   width:50%;
}
.paper{
    width:50%;
}
.scissors{
    width:50%;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}