body{
    background: #f43;
    font-family:'Gill Sans';
    box-sizing: content-box;
}
h1{
    font-size: 1.7em;
    color:#000;
    text-align: center;
}
img{
    width:50%;
}
.game{
    width: 55%;
    min-width: 500px;
    background-color: #ffffff;
    padding: 40px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.board{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.board button{
   background-color: #f43;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* mobile resposive website css */
@media (max-width: 320px){
    h1{
        font-size:18px;
        color:#000;
    }
    .game{
        width: 55%;
        min-width: 300px;
        background-color: #ffffff;
        padding: 20px 10px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
    }
    .board{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    .board button{
        background-color: #f43;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        border: none;
    }
}